
    @media (max-width: 768px) {
    #navbar .logo img {
        width: 40px; /* smaller logo for mobile */
    }

    #navbar .logo span {
        font-size: 1.2rem;
    }
}
    

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .skill-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact form {
        width: 100%;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }


    .project-grid {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .project-card {
        width: 90%;     /* full width on mobile */
    }

    .project-card img {
        height: auto;   /* allow flexible height */
    }
